@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 <h2>About us</h2>
            <p>We are a middle class couple from Louisville, Kentucky. Our interests are pool, food, and shopping. Louis travels to pool tournaments around the country. At home you can usually find him playing pool at Railyard Billiards & Sports Pub. He also helps install Diamond pool tables on occasion. I work a clerical night job.</p>
            <!-- Louisville -->

                <img class="downTown" src="/iStock-1304748649Louisville.jpg" alt="Home Sweet Home - Louisville, Kentucky" style="width:98%;height:auto;" class="banner">
                <section>
                <h2>Louisville, KY</h2>
                       @*Do I need to add License information and photo credit??*@
                <h3>Our home.</h3>

                    <p>I thought I should show you what we get to see every day!</p>
</div>
